* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;

}

#gameContainer {
    width: 1100px;
    height: 1100px;
    background-color: darkgrey;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(4, 250px);
    gap: 20px;
    padding: 20px;
    border-radius: 5px;


}

.card {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 2px 2px black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* אנימציה חלקה */
}

.card.flipped {
    background-color: var(--color);
    /* מצב גלוי */
    /* משתמש בצבע השמור */
}

button {
    margin: 50px auto;
    display: flex;
}